<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="tinyos.yeti.debugger.proxyTab" name="tinyos.yeti.debugger.proxyTab" schema="schema/tinyos.yeti.debugger.proxyTab.exsd"/>
   <extension-point id="tinyos.yeti.debugger.launchPrerun" name="tinyos.yeti.debugger.launchPrerun" schema="schema/tinyos.yeti.debugger.launchPrerun.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Component Variables Browser"
            icon="icons/component.gif"
            category="tinyOS.category.main"
            class="tinyos.yeti.debug.views.NescVariablesViewer"
            id="tinyos.yeti.debug.views.ComponentVariablesView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="tinyos.yeti.debug.ui.editor.nesc.RulerExtensions"
            targetID="tinyos.ui.editor.nesc">
         <action
               actionID="RulerDoubleClick"
               class="tinyos.yeti.debug.editorActions.BreakpointRulerDelegate"
               id="tinyos.yeti.debug.ui.editor.nesc.editorActions.BreakpointRulerAction"
               label="BreakpointRulerAction"
               style="push">
         </action>
      </editorContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
         <viewerContribution
            targetID="#NESCRulerContext"
            id="tinyos.yeti.debug.ui.editor.nesc.BreakpointRulerPopupMenu">
         <action
               label="Toggle Breakpoint"
               class="tinyos.yeti.debug.editorActions.BreakpointRulerDelegate"
               menubarPath="debug"
               id="tinyos.yeti.debug.ui.editor.nesc.editorActions.BreakpointRulerPopupMenu">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="tinyos.yeti.core.EditorAnnotationModelProvider">
      <factory
            class="tinyos.yeti.debug.views.annotation.DebugMarkerAnnotationModelFactory"
            contentTypeId="TinyOS.nesCSource">
      </factory>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="tinyos.yeti.debug.launch.configuration.LaunchConfigurationTabGroup"
            id="tinyos.yeti.debug.launch.tabGroup"
            type="tinyos.yeti.debug.launch.configurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="tinyos.yeti.debug.launch.LaunchConfigurationDelegate"
            id="tinyos.yeti.debug.launch.configurationType"
            modes="debug"
            name="TinyOS Debugger"
            public="true"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="tinyos.yeti.debug.launch.configurationType"
            icon="icons/nescfile.png"
            id="tinyos.launch.build.icon">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="tinyos.yeti.core.EditorInputConverter">
      <converter
            class="tinyos.yeti.debug.ep.ExternalEditorInputConverter">
      </converter>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <viewShortcut
               id="tinyos.yeti.debug.views.ComponentVariablesView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="tinyos.yeti.debugger.proxyTab">
      <tab
            class="tinyos.yeti.debug.launch.configuration.AvariceGdbProxyTab"
            order="1.5"></tab>
      <tab
            class="tinyos.yeti.debug.launch.configuration.UserDefinedGdbProxyTab"
            order="2.5"></tab>
      <tab
            class="tinyos.yeti.debug.launch.configuration.NoGdbProxyTab"
            order="3.5"></tab>
      <tab
            class="tinyos.yeti.debug.launch.configuration.MSP430ProxyTab"
            order="1.6">
      </tab>
   </extension>
   <extension
         point="tinyos.yeti.debugger.launchPrerun">
      <prerun
            class="tinyos.yeti.debug.launch.configuration.prerun.DoNothingPrerun"
            id="do-nothing"
            order="1.0"
            tab-class="tinyos.yeti.debug.launch.configuration.prerun.DoNothingPrerun">
      </prerun>
      <prerun
            class="tinyos.yeti.debug.launch.configuration.prerun.DefaultPrerun"
            id="build-default"
            order="2.0"
            tab-class="tinyos.yeti.debug.launch.configuration.prerun.DefaultPrerun">
      </prerun>
      <prerun
            class="tinyos.yeti.debug.launch.configuration.prerun.MakeOptionPrerun"
            id="make-option"
            order="3.0"
            tab-class="tinyos.yeti.debug.launch.configuration.prerun.MakeOptionPrerun">
      </prerun>
      <prerun
            class="tinyos.yeti.debug.launch.configuration.prerun.LaunchConfigurationPrerun"
            id="launch-configuration"
            order="2.5"
            tab-class="tinyos.yeti.debug.launch.configuration.prerun.LaunchConfigurationPrerun">
      </prerun>
   </extension>
   
</plugin>
