<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="nesc12.parser.proposals" name="Proposal rules" schema="schema/nesc12.parser.proposals.exsd"/>
   <extension-point id="nesc12.parser.hyperlinks" name="Hyperlink rules" schema="schema/nesc12.parser.hyperlinks.exsd"/>
   <extension-point id="nesc12.parser.quickfixes" name="Quickfixes" schema="schema/nesc12.parser.quickfix.exsd"/>
   <extension-point id="nesc12.parser.hover" name="Hover rules" schema="schema/nesc12.parser.hover.exsd"/>
   <extension-point id="nesc12.parser.attributes" name="Attribute resolving" schema="schema/nesc12.parser.attributes.exsd"/>

   <extension
         point="tinyos.yeti.core.Parser">
      <parser
            class="tinyos.yeti.nesc12.Factory"></parser>
   </extension>
   <extension
         point="tinyos.yeti.core.Reconciler">
      <scanner
            class="tinyos.yeti.nesc12.ep.NesC12CodeScanner"
            name="default">
      </scanner>
   </extension>
   <extension
         point="tinyos.yeti.core.Editor">
      <multiPagePart
            class="tinyos.yeti.nesc12.view.PreprocessorMultiPageEditorPart"
            debug="false">
      </multiPagePart>
      <multiPagePart
            class="tinyos.yeti.nesc12.view.BindingMultiPageEditorPart"
            debug="true">
      </multiPagePart>
      <multiPagePart
            class="tinyos.yeti.nesc12.view.ASTMultiPageEditorView"
            debug="true">
      </multiPagePart>
   </extension>
   <extension
         point="tinyos.yeti.core.Quickfixer">
      <single
            class="tinyos.yeti.nesc12.ep.rules.NesC12SingleQuickFixer">
      </single>
      <multi
            class="tinyos.yeti.nesc12.ep.rules.NesC12MultiQuickFixer">
      </multi>
   </extension>
   <extension
         point="nesc12.parser.proposals">
      <proposal
            class="tinyos.yeti.nesc12.ep.rules.proposals.AccessDataObjectRule">
      </proposal>
      <proposal
            class="tinyos.yeti.nesc12.ep.rules.proposals.AccessDataObjectPointerRule">
      </proposal>
      <proposal
            class="tinyos.yeti.nesc12.ep.rules.proposals.SimpleIncludeInterfaceRule">
      </proposal>
      <proposal
            class="tinyos.yeti.nesc12.ep.rules.proposals.ComplexIncludeInterfaceRule">
      </proposal>
      <proposal
            class="tinyos.yeti.nesc12.ep.rules.proposals.LocalField">
      </proposal>
      <proposal
            class="tinyos.yeti.nesc12.ep.rules.proposals.CallInterfaceRule">
      </proposal>
      <proposal
            class="tinyos.yeti.nesc12.ep.rules.proposals.InterfaceFunctionCallRule">
      </proposal>
      <proposal
            class="tinyos.yeti.nesc12.ep.rules.proposals.TaskRule">
      </proposal>
      <proposal
            class="tinyos.yeti.nesc12.ep.rules.proposals.EndpointBeginRule">
      </proposal>
      <proposal
            class="tinyos.yeti.nesc12.ep.rules.proposals.EndpointSpecificationRule">
      </proposal>
      <proposal
            class="tinyos.yeti.nesc12.ep.rules.proposals.IncludeComponentRule">
      </proposal>
      <proposal
            class="tinyos.yeti.nesc12.ep.rules.proposals.InterfaceFieldImplementationRule">
      </proposal>
      <proposal
            class="tinyos.yeti.nesc12.ep.rules.proposals.TypeTagRule">
      </proposal>
      <proposal
            class="tinyos.yeti.nesc12.ep.rules.proposals.TypedefRule">
      </proposal>
      <proposal
            class="tinyos.yeti.nesc12.ep.rules.proposals.InterfaceInModuleRule">
      </proposal>
      <proposal
            class="tinyos.yeti.nesc12.ep.rules.proposals.AccessDataObjectRuleByField">
      </proposal>
      <proposal
            class="tinyos.yeti.nesc12.ep.rules.proposals.AccessDataObjectPointerRuleByField">
      </proposal>
   </extension>
   <extension
         point="nesc12.parser.hyperlinks">
      <rule
            class="tinyos.yeti.nesc12.ep.rules.hyperlink.InterfaceHyperlink">
      </rule>
      <rule
            class="tinyos.yeti.nesc12.ep.rules.hyperlink.IncludeHyperlink">
      </rule>
      <rule
            class="tinyos.yeti.nesc12.ep.rules.hyperlink.ComponentHyperlink">
      </rule>
      <rule
            class="tinyos.yeti.nesc12.ep.rules.hyperlink.LocalFieldHyperlink">
      </rule>
      <rule
            class="tinyos.yeti.nesc12.ep.rules.hyperlink.AccessDataObjectHyperlink">
      </rule>
      <rule
            class="tinyos.yeti.nesc12.ep.rules.hyperlink.EndpointHyperlink">
      </rule>
      <rule
            class="tinyos.yeti.nesc12.ep.rules.hyperlink.TypeHyperlink">
      </rule>
      <rule
            class="tinyos.yeti.nesc12.ep.rules.hyperlink.TypeTagHyperlink">
      </rule>
      <rule
            class="tinyos.yeti.nesc12.ep.rules.hyperlink.NesCNameHyperlink">
      </rule>
      <rule
            class="tinyos.yeti.nesc12.ep.rules.hyperlink.AttributeHyperlink">
      </rule>
      <rule
            class="tinyos.yeti.nesc12.ep.rules.hyperlink.FieldDesignatorHyperlink">
      </rule>
      <rule
            class="tinyos.yeti.nesc12.ep.rules.hyperlink.MacroHyperlink">
      </rule>
   </extension>
   <extension
         point="nesc12.parser.quickfixes">
      <single
            class="tinyos.yeti.nesc12.ep.rules.quickfix.AddMissingIncludeFile">
      </single>
      <single
            class="tinyos.yeti.nesc12.ep.rules.quickfix.AddMissingModuleFunction">
      </single>
      <multi
            class="tinyos.yeti.nesc12.ep.rules.quickfix.AddMissingModuleFunction">
      </multi>
      <single
            class="tinyos.yeti.nesc12.ep.rules.quickfix.JumpShadowField">
      </single>
   </extension>
   <extension
         point="nesc12.parser.hover">
      <rule
            class="tinyos.yeti.nesc12.ep.rules.hover.LocalFieldHover">
      </rule>
      <rule
            class="tinyos.yeti.nesc12.ep.rules.hover.FieldDeclarationHover">
      </rule>
      <rule
            class="tinyos.yeti.nesc12.ep.rules.hover.EnumConstantHover">
      </rule>
      <rule
            class="tinyos.yeti.nesc12.ep.rules.hover.TypeDeclarationHover">
      </rule>
      <rule
            class="tinyos.yeti.nesc12.ep.rules.hover.LocalTypenameHover">
      </rule>
      <rule
            class="tinyos.yeti.nesc12.ep.rules.hover.TypeTemplateHover">
      </rule>
      <rule
            class="tinyos.yeti.nesc12.ep.rules.hover.InterfaceParameterHover">
      </rule>
   </extension>
   <extension
         point="nesc12.parser.attributes">
      <resolve
            class="tinyos.yeti.nesc12.ep.attributes.Combine"
            name="combine">
      </resolve>
   </extension>
   <extension
         point="tinyos.yeti.core.OutlineFilter">
      <filter
            class="tinyos.yeti.nesc12.ep.filter.HideFields"
            id="tinyos.yeti.parser12.filter.hideFields"
            name="Hide Fields">
      </filter>
      <filter
            class="tinyos.yeti.nesc12.ep.filter.HideMacros"
            id="tinyos.yeti.parser12.filter.HideMacros"
            name="Hide Macros">
      </filter>
      <filter
            class="tinyos.yeti.nesc12.ep.filter.HideTypedefs"
            id="tinyos.yeti.parser12.filter.HideTypedefs"
            name="Hide Typedefs">
      </filter>
   </extension>

</plugin>
