<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <!-- Abstract Representation of the Refactorings -->
	<extension
		point="org.eclipse.ui.commands">
		
		<category
			id="tinyos.yeti.refactoring"
			name="Refactoring">
		</category>
	
		<command
			id="tinyos.yeti.refactoring.RenameLocalVariable"
			categoryId="tinyos.yeti.refactoring"
			name="Rename Local Variable"/>

		<command
			id="tinyos.yeti.refactoring.RenameGlobalVariable"
			categoryId="tinyos.yeti.refactoring"
			name="Rename Global Variable"/>
	</extension>
 
	<!-- The Real Implementations of the Refactorings -->
	<extension point="org.eclipse.ui.handlers">
		<handler
        	class="tinyos.yeti.refactoring.renameLocalVariable.RenameLocalVariableActionHandler"
        	commandId="tinyos.yeti.refactoring.RenameLocalVariable">
     	</handler>
     
     	<handler
        	class="tinyos.yeti.refactoring.renameGlobalVariable.ActionHandler"
        	commandId="tinyos.yeti.refactoring.RenameGlobalVariable">
		</handler>
	</extension>

	<!-- Shortcuts for the Refaactorings (Optional) -->
	<extension
		point="org.eclipse.ui.bindings">
		<key
			commandId="tinyos.yeti.refactoring.RenameLocalVariable"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+M2+9"/>
           	<!-- The M Keys in the sequence are Platform independent keys.
				On PCs they are mapped to:
                M1 = Ctrl
                M2 = Shift
                M3 = Alt
			-->
	</extension>

	<!-- Menu Entrys (Main Menu & Popup Menu) -->
	<extension 
  		id="add.item"
		point="org.eclipse.ui.menus">
		
		<!-- Entrys in the Top Menu -->
 		<menuContribution
    		locationURI= "menu:org.eclipse.ui.main.menu?after=additions">
    		<menu
       			id="tinyos.yeti.RefactoringMenu"
       			label="Refactoring" />
 		</menuContribution>
 		
		<menuContribution
    		locationURI= "menu:tinyos.yeti.RefactoringMenu?after=additions">
    		
    		<command
       			commandId="tinyos.yeti.refactoring.RenameLocalVariable"
       			id= "RenameLocalVariable"
       			label= "Rename Local Variable">
       		
      			<visibleWhen checkEnabled="false">
        			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
        			<iterate ifEmpty="false">
         	 			<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
          				<test property="tinyos.yeti.refactoring.isAvailable.renameLocalVariable" 
            				forcePluginActivation="true" />
       				</iterate>          		
				</visibleWhen> 
			</command>

    		<command
       			commandId="tinyos.yeti.refactoring.RenameGlobalVariable"
       			id= "RenameGlobalVariable"
       			label= "Rename Global Variable">
       			
      			<visibleWhen checkEnabled="false">
        			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
        			<iterate ifEmpty="false">
          				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
          				<test property="tinyos.yeti.refactoring.isAvailable.renameGlobalVariable" 
            				forcePluginActivation="true" />
       				</iterate>          		
      			</visibleWhen> 
    		</command>
		</menuContribution>

 		<!-- Entrys in the Popup Menu -->
		<menuContribution
			locationURI= "popup:org.eclipse.ui.popup.any?after=additions">
			<menu
       			id="tinyos.yeti.RefactoringPopup"
       			label="Refactoring" />
 		</menuContribution>
 
 		<menuContribution
			locationURI="popup:tinyos.yeti.RefactoringPopup?after=additions">
				<command 
					commandId="tinyos.yeti.refactoring.RenameLocalVariable">
					<!-- If checkEnabled = true no additional checks are allowed and the isEnabled() Function of the Action Handler is called. -->
					<visibleWhen checkEnabled="false">
            			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
          				<iterate ifEmpty="false">
          	  				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
              				<test property="tinyos.yeti.refactoring.isAvailable.renameLocalVariable" 
                    			forcePluginActivation="true" />
          				</iterate>          		
          			</visibleWhen>
				</command>
        
        		<command 
        			commandId="tinyos.yeti.refactoring.RenameGlobalVariable">
          			<!-- If checkEnabled = true no additional checks are allowed and the isEnabled() Function of the Action Handler is called. -->
          			<visibleWhen checkEnabled="false">
            			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
          				<iterate ifEmpty="false">
          	  				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
              				<test property="tinyos.yeti.refactoring.isAvailable.renameGlobalVariable" 
                    			forcePluginActivation="true" />
          				</iterate>          		
          			</visibleWhen>
        		</command>
 		</menuContribution>
	</extension>

 	<extension 
 		point="org.eclipse.core.expressions.propertyTesters">
   		<propertyTester
     		id="tinyos.yeti.refactoring.AvailabilityTester"
     		type="org.eclipse.jface.text.ITextSelection"
     		namespace="tinyos.yeti.refactoring.isAvailable"
     		properties="renameLocalVariable,renameGlobalVariable"
     		class="tinyos.yeti.refactoring.AvailabilityTester" />
 	</extension>

</plugin>
