<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <!-- Abstract Representation of the Refactorings -->
	<extension
		point="org.eclipse.ui.commands">
		
		<category
			id="tinyos.yeti.refactoring"
			name="Refactoring">
		</category>
	
		<command
			id="tinyos.yeti.refactoring.rename.local.variable"
			categoryId="tinyos.yeti.refactoring"
			name="Rename Local Variable"/>
			
		<command
			id="tinyos.yeti.refactoring.rename.local.functionparameter"
			categoryId="tinyos.yeti.refactoring"
			name="Rename Function Parameter"/>

		<command
			id="tinyos.yeti.refactoring.rename.global.variable"
			categoryId="tinyos.yeti.refactoring"
			name="Rename Global Variable"/>
			
		<command
			id="tinyos.yeti.refactoring.rename.implementation.variable"
			categoryId="tinyos.yeti.refactoring"
			name="Rename Implementation Local Variable"/>
			
		<command
			id="tinyos.yeti.refactoring.rename.global.function"
			categoryId="tinyos.yeti.refactoring"
			name="Rename Global Function"/>
			
		<command
			id="tinyos.yeti.refactoring.rename.local.function"
			categoryId="tinyos.yeti.refactoring"
			name="Rename Local Function"/>
			
		<command
			id="tinyos.yeti.refactoring.rename.global.interfaces"
			categoryId="tinyos.yeti.refactoring"
			name="Rename Interface"/>
			
		<command
			id="tinyos.yeti.refactoring.rename.component"
			categoryId="tinyos.yeti.refactoring"
			name="Rename Component"/>
			
		<command
			id="tinyos.yeti.refactoring.rename.alias.component"
			categoryId="tinyos.yeti.refactoring"
			name="Rename Component Alias"/>
			
		<command
			id="tinyos.yeti.refactoring.rename.alias.interfaces"
			categoryId="tinyos.yeti.refactoring"
			name="Rename Interface Alias"/>
			
		<command
			id="tinyos.yeti.refactoring.rename.nesc.function"
			categoryId="tinyos.yeti.refactoring"
			name="Rename Nesc Function"/>
			
		<command
			id="tinyos.yeti.refactoring.extractFunction"
			categoryId="tinyos.yeti.refactoring"
			name="Extract Function"/>
		
		<!-- Dummy Menu entry, for the case when there is no refactoring available-->	
		<command
			id="tinyos.yeti.refactoring.NoRefactoringAvailable"
			categoryId="tinyos.yeti.refactoring"
			name="No Refactorings Available"/>
	</extension>
 
	<!-- The Real Implementations of the Refactorings -->
	<extension point="org.eclipse.ui.handlers">
		<handler
        	class="tinyos.yeti.refactoring.rename.variable.local.RenameLocalVariableActionHandler"
        	commandId="tinyos.yeti.refactoring.rename.local.variable">
     	</handler>
     	
     	<handler
        	class="tinyos.yeti.refactoring.rename.functionparameter.ActionHandler"
        	commandId="tinyos.yeti.refactoring.rename.local.functionparameter">
     	</handler>
     
     	<handler
        	class="tinyos.yeti.refactoring.rename.field.global.ActionHandler"
        	commandId="tinyos.yeti.refactoring.rename.global.variable">
		</handler>
		
		
		<handler
        	class="tinyos.yeti.refactoring.rename.variable.implementation.ActionHandler"
        	commandId="tinyos.yeti.refactoring.rename.implementation.variable">
		</handler>
		
		<handler
        	class="tinyos.yeti.refactoring.rename.field.global.ActionHandler"
        	commandId="tinyos.yeti.refactoring.rename.global.function">
		</handler>
		
		<handler
        	class="tinyos.yeti.refactoring.rename.function.local.ActionHandler"
        	commandId="tinyos.yeti.refactoring.rename.local.function">
		</handler>
		
		<handler
        	class="tinyos.yeti.refactoring.rename.interfaces.ActionHandler"
        	commandId="tinyos.yeti.refactoring.rename.global.interfaces">
		</handler>
		
		<handler
        	class="tinyos.yeti.refactoring.rename.component.ActionHandler"
        	commandId="tinyos.yeti.refactoring.rename.component">
		</handler>

		<handler
        	class="tinyos.yeti.refactoring.rename.alias.component.ActionHandler"
        	commandId="tinyos.yeti.refactoring.rename.alias.component">
		</handler>
		
		<handler
        	class="tinyos.yeti.refactoring.rename.alias.interfaces.ActionHandler"
        	commandId="tinyos.yeti.refactoring.rename.alias.interfaces">
		</handler>
		
		<handler
        	class="tinyos.yeti.refactoring.rename.function.nesc.ActionHandler"
        	commandId="tinyos.yeti.refactoring.rename.nesc.function">
		</handler>
		
		<handler
        	class="tinyos.yeti.refactoring.extractFunction.ActionHandler"
        	commandId="tinyos.yeti.refactoring.extractFunction">
		</handler>
		
		<handler
        	class="tinyos.yeti.refactoring.notavailable.ActionHandler"
        	commandId="tinyos.yeti.refactoring.NoRefactoringAvailable">
		</handler>
	</extension>

	<!-- Shortcuts for the Refaactorings (Optional) -->
	<extension
		point="org.eclipse.ui.bindings">
		<key
			commandId="tinyos.yeti.refactoring.rename.local.variable"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+M2+9"/>
           	<!-- The M Keys in the sequence are Platform independent keys.
				On PCs they are mapped to:
                M1 = Ctrl
                M2 = Shift
                M3 = Alt
			-->
	</extension>

	<!-- Menu Entrys (Main Menu & Popup Menu) -->
	<extension 
  		id="add.item"
		point="org.eclipse.ui.menus">
		
		<!-- Entrys in the Top Menu -->
 		<menuContribution
    		locationURI= "menu:org.eclipse.ui.main.menu?after=additions">
    		<menu
       			id="tinyos.yeti.RefactoringMenu"
       			label="Refactoring" />
 		</menuContribution>
 		
		<menuContribution
    		locationURI= "menu:tinyos.yeti.RefactoringMenu?after=additions">
    		
    		<command
       			commandId="tinyos.yeti.refactoring.rename.local.variable"
       			id= "RenameLocalVariable"
       			label= "Rename Local Variable">
       		
      			<visibleWhen checkEnabled="false">
        			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
        			<iterate ifEmpty="false">
         	 			<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
          				<test property="tinyos.yeti.refactoring.isAvailable.renameLocalVariable" 
            				forcePluginActivation="true" />
       				</iterate>          		
				</visibleWhen> 
			</command>

    		<command
       			commandId="tinyos.yeti.refactoring.rename.local.functionparameter"
       			id= "RenameFunctionParameter"
       			label= "Rename Function Parameter">
       		
      			<visibleWhen checkEnabled="false">
        			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
        			<iterate ifEmpty="false">
         	 			<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
          				<test property="tinyos.yeti.refactoring.isAvailable.renameFunctionParameter" 
            				forcePluginActivation="true" />
       				</iterate>          		
				</visibleWhen> 
			</command>

    		<command
       			commandId="tinyos.yeti.refactoring.rename.global.variable"
       			id= "RenameGlobalVariable"
       			label= "Rename Global Variable">
       			
      			<visibleWhen checkEnabled="false">
        			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
        			<iterate ifEmpty="false">
          				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
          				<test property="tinyos.yeti.refactoring.isAvailable.renameGlobalVariable" 
            				forcePluginActivation="true" />
       				</iterate>          		
      			</visibleWhen> 
    		</command>
    		
    		<command
       			commandId="tinyos.yeti.refactoring.rename.implementation.variable"
       			id= "RenameImplementationLocalVariable"
       			label= "Rename Implementation Local Variable">
       			
      			<visibleWhen checkEnabled="false">
        			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
        			<iterate ifEmpty="false">
          				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
          				<test property="tinyos.yeti.refactoring.isAvailable.renameImplementationLocalVariable" 
            				forcePluginActivation="true" />
       				</iterate>          		
      			</visibleWhen> 
    		</command>
    		
    		
			<command
       			commandId="tinyos.yeti.refactoring.rename.global.function"
       			id= "RenameFunction"
       			label= "Rename Function">
       			
      			<visibleWhen checkEnabled="false">
        			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
        			<iterate ifEmpty="false">
          				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
          				<test property="tinyos.yeti.refactoring.isAvailable.renameFunction" 
            				forcePluginActivation="true" />
       				</iterate>          		
      			</visibleWhen> 
    		</command>
    		
			<command
       			commandId="tinyos.yeti.refactoring.rename.local.function"
       			id= "RenameLocalFunction"
       			label= "Rename Local Function">
       			
      			<visibleWhen checkEnabled="false">
        			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
        			<iterate ifEmpty="false">
          				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
          				<test property="tinyos.yeti.refactoring.isAvailable.renameLocalFunction" 
            				forcePluginActivation="true" />
       				</iterate>          		
      			</visibleWhen> 
    		</command>
    		
    		<command
       			commandId="tinyos.yeti.refactoring.rename.global.interfaces"
       			id= "RenameInterface"
       			label= "Rename Interface">
       			
      			<visibleWhen checkEnabled="false">
        			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
        			<iterate ifEmpty="false">
          				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
          				<test property="tinyos.yeti.refactoring.isAvailable.renameInterface" 
            				forcePluginActivation="true" />
       				</iterate>          		
      			</visibleWhen> 
    		</command>
    		
			<command
       			commandId="tinyos.yeti.refactoring.rename.component"
       			id= "RenameComponent"
       			label= "Rename Component">
       			
      			<visibleWhen checkEnabled="false">
        			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
        			<iterate ifEmpty="false">
          				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
          				<test property="tinyos.yeti.refactoring.isAvailable.renameComponent" 
            				forcePluginActivation="true" />
       				</iterate>          		
      			</visibleWhen> 
    		</command>
    				
			<command
       			commandId="tinyos.yeti.refactoring.rename.alias.component"
       			id= "RenameComponentAlias"
       			label= "Rename Component Alias">
       			
      			<visibleWhen checkEnabled="false">
        			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
        			<iterate ifEmpty="false">
          				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
          				<test property="tinyos.yeti.refactoring.isAvailable.renameComponentAlias" 
            				forcePluginActivation="true" />
       				</iterate>          		
      			</visibleWhen> 
    		</command>
    		
			<command
       			commandId="tinyos.yeti.refactoring.rename.alias.interfaces"
       			id= "RenameInterfaceAlias"
       			label= "Rename Interface Alias">
       			
      			<visibleWhen checkEnabled="false">
        			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
        			<iterate ifEmpty="false">
          				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
          				<test property="tinyos.yeti.refactoring.isAvailable.renameInterfaceAlias" 
            				forcePluginActivation="true" />
       				</iterate>          		
      			</visibleWhen> 
    		</command>
    		
    		<command
       			commandId="tinyos.yeti.refactoring.rename.nesc.function"
       			id= "RenameNescFunction"
       			label= "Rename Nesc Function">
       			
      			<visibleWhen checkEnabled="false">
        			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
        			<iterate ifEmpty="false">
          				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
          				<test property="tinyos.yeti.refactoring.isAvailable.renameNescFunction" 
            				forcePluginActivation="true" />
       				</iterate>          		
      			</visibleWhen> 
    		</command>
    		
    		<command
       			commandId="tinyos.yeti.refactoring.extractFunction"
       			id= "extractFunction"
       			label= "ExtractFunction">
       			
      			<visibleWhen checkEnabled="false">
        			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
        			<iterate ifEmpty="false">
          				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
          				<test property="tinyos.yeti.refactoring.isAvailable.extractFunction" 
            				forcePluginActivation="true" />
       				</iterate>          		
      			</visibleWhen> 
    		</command>
    		
    		<command
       			commandId="tinyos.yeti.refactoring.NoRefactoringAvailable"
       			id= "NoRefactoringAvailable"
       			label= "No Refactoring Available">
       			
      			<visibleWhen checkEnabled="false">
        			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
        			<iterate ifEmpty="false">
          				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
          				<test property="tinyos.yeti.refactoring.isAvailable.NoRefactoringAvailable" 
            				forcePluginActivation="true" />
       				</iterate>          		
      			</visibleWhen> 
    		</command>
		</menuContribution>

 		<!-- Entrys in the Popup Menu -->
		<menuContribution
			locationURI= "popup:org.eclipse.ui.popup.any?after=additions">
			<menu
       			id="tinyos.yeti.RefactoringPopup"
       			label="Refactoring" />
 		</menuContribution>
 
 		<menuContribution
			locationURI="popup:tinyos.yeti.RefactoringPopup?after=additions">
			
				<command 
					commandId="tinyos.yeti.refactoring.rename.local.variable">
					<!-- If checkEnabled = true no additional checks are allowed and the isEnabled() Function of the Action Handler is called. -->
					<visibleWhen checkEnabled="false">	
            			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
          				<iterate ifEmpty="false"> 
          	  				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
              				<test property="tinyos.yeti.refactoring.isAvailable.renameLocalVariable" 
                    			forcePluginActivation="true" /> 
          				</iterate>         		
          			</visibleWhen> 
				</command>
        
        		<command 
					commandId="tinyos.yeti.refactoring.rename.local.functionparameter">
					<!-- If checkEnabled = true no additional checks are allowed and the isEnabled() Function of the Action Handler is called. -->
					<visibleWhen checkEnabled="false">	
            			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
          				<iterate ifEmpty="false"> 
          	  				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
              				<test property="tinyos.yeti.refactoring.isAvailable.renameFunctionParameter" 
                    			forcePluginActivation="true" /> 
          				</iterate>         		
          			</visibleWhen> 
				</command>
				
        		<command 
        			commandId="tinyos.yeti.refactoring.rename.global.variable">
          			<!-- If checkEnabled = true no additional checks are allowed and the isEnabled() Function of the Action Handler is called. -->
          			<visibleWhen checkEnabled="false">
            			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
          				<iterate ifEmpty="false">
          	  				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
              				<test property="tinyos.yeti.refactoring.isAvailable.renameGlobalVariable" 
                    			forcePluginActivation="true" />
          				</iterate>          		
          			</visibleWhen>
        		</command>
        		
        		<command 
        			commandId="tinyos.yeti.refactoring.rename.implementation.variable">
          			<!-- If checkEnabled = true no additional checks are allowed and the isEnabled() Function of the Action Handler is called. -->
          			<visibleWhen checkEnabled="false">
            			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
          				<iterate ifEmpty="false">
          	  				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
              				<test property="tinyos.yeti.refactoring.isAvailable.renameImplementationLocalVariable" 
                    			forcePluginActivation="true" />
          				</iterate>          		
          			</visibleWhen>
        		</command>
        		
				<command 
        			commandId="tinyos.yeti.refactoring.rename.global.function">
          			<!-- If checkEnabled = true no additional checks are allowed and the isEnabled() Function of the Action Handler is called. -->
          			<visibleWhen checkEnabled="false">
            			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
          				<iterate ifEmpty="false">
          	  				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
              				<test property="tinyos.yeti.refactoring.isAvailable.renameGlobalFunction" 
                    			forcePluginActivation="true" />
          				</iterate>          		
          			</visibleWhen>
        		</command>
        		
				<command 
        			commandId="tinyos.yeti.refactoring.rename.local.function">
          			<!-- If checkEnabled = true no additional checks are allowed and the isEnabled() Function of the Action Handler is called. -->
          			<visibleWhen checkEnabled="false">
            			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
          				<iterate ifEmpty="false">
          	  				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
              				<test property="tinyos.yeti.refactoring.isAvailable.renameLocalFunction" 
                    			forcePluginActivation="true" />
          				</iterate>          		
          			</visibleWhen>
        		</command>
        		
				<command 
        			commandId="tinyos.yeti.refactoring.rename.global.interfaces">
          			<!-- If checkEnabled = true no additional checks are allowed and the isEnabled() Function of the Action Handler is called. -->
          			<visibleWhen checkEnabled="false">
            			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
          				<iterate ifEmpty="false">
          	  				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
              				<test property="tinyos.yeti.refactoring.isAvailable.renameInterface" 
                    			forcePluginActivation="true" />
          				</iterate>          		
          			</visibleWhen>
        		</command>
        		
        		<command 
        			commandId="tinyos.yeti.refactoring.rename.component">
          			<!-- If checkEnabled = true no additional checks are allowed and the isEnabled() Function of the Action Handler is called. -->
          			<visibleWhen checkEnabled="false">
            			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
          				<iterate ifEmpty="false">
          	  				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
              				<test property="tinyos.yeti.refactoring.isAvailable.renameComponent" 
                    			forcePluginActivation="true" />
          				</iterate>          		
          			</visibleWhen>
        		</command>
        		
				<command 
        			commandId="tinyos.yeti.refactoring.rename.alias.component">
          			<!-- If checkEnabled = true no additional checks are allowed and the isEnabled() Function of the Action Handler is called. -->
          			<visibleWhen checkEnabled="false">
            			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
          				<iterate ifEmpty="false">
          	  				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
              				<test property="tinyos.yeti.refactoring.isAvailable.renameComponentAlias" 
                    			forcePluginActivation="true" />
          				</iterate>          		
          			</visibleWhen>
        		</command>
        		
        		<command 
        			commandId="tinyos.yeti.refactoring.rename.alias.interfaces">
          			<!-- If checkEnabled = true no additional checks are allowed and the isEnabled() Function of the Action Handler is called. -->
          			<visibleWhen checkEnabled="false">
            			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
          				<iterate ifEmpty="false">
          	  				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
              				<test property="tinyos.yeti.refactoring.isAvailable.renameInterfaceAlias" 
                    			forcePluginActivation="true" />
          				</iterate>          		
          			</visibleWhen>
        		</command>
        		
				<command 
        			commandId="tinyos.yeti.refactoring.rename.nesc.function">
          			<!-- If checkEnabled = true no additional checks are allowed and the isEnabled() Function of the Action Handler is called. -->
          			<visibleWhen checkEnabled="false">
            			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
          				<iterate ifEmpty="false">
          	  				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
              				<test property="tinyos.yeti.refactoring.isAvailable.renameNescFunction" 
                    			forcePluginActivation="true" />
          				</iterate>          		
          			</visibleWhen>
        		</command>
        		    		
        		<command 
        			commandId="tinyos.yeti.refactoring.extractFunction">
          			<!-- If checkEnabled = true no additional checks are allowed and the isEnabled() Function of the Action Handler is called. -->
          			<visibleWhen checkEnabled="false">
            			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
          				<iterate ifEmpty="false">
          	  				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
              				<test property="tinyos.yeti.refactoring.isAvailable.extractFunction" 
                    			forcePluginActivation="true" />
          				</iterate>          		
          			</visibleWhen>
        		</command>
        		
				<command 
        			commandId="tinyos.yeti.refactoring.NoRefactoringAvailable">
          			<!-- If checkEnabled = true no additional checks are allowed and the isEnabled() Function of the Action Handler is called. -->
          			<visibleWhen checkEnabled="false">
            			<!-- It's a Collection, if iterate is left away, the test will never be executed -->
          				<iterate ifEmpty="false">
          	  				<!-- The forcePluginActivation-Parameter is absolutly necessary. Otherwise the Property gets never checkt -->
              				<test property="tinyos.yeti.refactoring.isAvailable.NoRefactoringAvailable" 
                    			forcePluginActivation="true" />
          				</iterate>          		
          			</visibleWhen>
        		</command>
        		
 		</menuContribution>
	</extension>

 	<extension 
 		point="org.eclipse.core.expressions.propertyTesters">
   		<propertyTester
     		id="tinyos.yeti.refactoring.AvailabilityTester"
     		type="org.eclipse.jface.text.ITextSelection"
     		namespace="tinyos.yeti.refactoring.isAvailable"
     		properties="renameLocalVariable, renameFunctionParameter, renameGlobalVariable, renameImplementationLocalVariable, renameLocalFunction, renameGlobalFunction, renameInterface, renameComponent, renameComponentAlias, renameInterfaceAlias, renameNescFunction, extractFunction, NoRefactoringAvailable"
     		class="tinyos.yeti.refactoring.AvailabilityTester" />
 	</extension>

</plugin>
