<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.actionSets">
		<actionSet id="tinyos_yeti_refactoring_actionSet" label="MyRefactoring Actoin Set" visible="true">
			<menu id="tinyos_yeti_refactoring" label="My Menu" path="">
				<separator name="menuSeparator0" />
			</menu>
			<action id="TinyOS Refactoring.action1"
                    label="Rename Local Variable"
                    style="push"
                    menubarPath="tinyos_yeti_refactoring/menuSeperator0"
                    class="tinyos.yeti.refactoring.renameLocalVariable.RenameLocalVariableDelegate"
                    >
                    <!-- <selection class="org.eclipse.core.resources.IFile"
					name="*.nc">
			        </selection> -->
                   	
			</action>
		
		</actionSet>
	</extension>
 <extension
       point="org.eclipse.ui.popupMenus">
    <viewerContribution
          id="TinyOS Refactoring.RefactoringPopUp"
          targetID="#TextEditorContext">
       <menu
             id="TinyOS Refactoring.RefactoringPopUp"
             label="Refactoring"
             path="additions">
          <groupMarker
                name="TinyOS Refactoring.content">
          </groupMarker>
          <separator
                name="TinyOS Refactoring.additions">
          </separator>
       </menu>
       <action
             class="tinyos.yeti.refactoring.renameLocalVariable.RenameLocalVariableDelegateContextMenu"
             id="TinyOS Refactoring.renameLocalVariable"
             label="rename"
             menubarPath="TinyOS Refactoring.RefactoringPopUp/content">
       </action>
    </viewerContribution>
 </extension>

</plugin>
